[submodule "ros/sptam-object-detection"]
	path = ros/sptam
	url  = git@repositorio.cifasis-conicet.gov.ar:robotica/sptam-object-detection.git
	branch = javier


[submodule "py-faster-rcnn"]
	path = py-faster-rcnn
	url = https://github.com/CIFASIS/py-faster-rcnn.git
	branch = master
[submodule "g2o"]
	path = g2o
	url = https://github.com/CIFASIS/g2o.git
[submodule "ApproxMVBB"]
	path = ApproxMVBB
	url = https://github.com/CIFASIS/ApproxMVBB.git
