<launch>

  <!-- path publisher. Transforms poses into path. -->
  <node pkg="ros_utils" type="pose_to_path" name="sptam_path">
    <remap from="pose" to="/sptam/robot/pose" />
  </node>

  <!-- Publish static transform between robot origin and left camera origin-->

  <!-- change the coordinate system ROS->SPTAM
       ROS: x: forward, y:left, z: up
       SPTAM: x: right, y: down, z: forward -->
  <!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_broadcaster" args="0.0 0.0 0.0 -1.57 0 -1.57 base_link camera" />

  <!-- Debugging -->
<!--  <node pkg="sptam" type="sptam" name="sptam" output="screen" launch-prefix="xterm -e gdbserver localhost:10000">-->

  <!-- Release -->
  <node pkg="sptam" type="sptam_node" name="sptam" output="screen" >

    <param name="use_prediction" value="false" />
    <param name="approximate_sync" value="true" />
    <param name="publish_transform" value="true" />

    <!--param name="prediction_frame" value="odom"/-->
    <!--param name="base_frame" value="base_link"/-->
    <!--param name="camera_frame" value="camera"/-->
    <!--param name="map_frame" value="map"/-->
    <!--param name="reference_frame" value="left_camera"/-->

    <!-- Read S-PTAM parameters file -->
    <rosparam command="load" file="$(find sptam)/configurationFiles/mobius.yaml" />

  </node>

</launch>
