<launch>

  <!-- Set use_sim_time true for datasets-->
  <param name="use_sim_time" value="true"/>

  <!-- Publish static transform between robot origin and left camera origin-->

  <!-- S-PTAM path publisher. Transforms poses into path. -->
  <node pkg="ros_utils" type="pose_to_path" name="sptam_path">
    <remap from="pose" to="sptam/robot/pose" />
    <remap from="path" to="sptam/robot/path" />
  </node>

  <!-- <node pkg="vrep_util" type="clock_publisher" name="vrep_clock"/> -->


  <!-- Clean S-PTAM parameters -->
  <rosparam command="delete" ns="sptam"/>

  <!-- Read S-PTAM parameters file -->
  <rosparam command="load" ns="sptam" file="$(find sptam)/configurationFiles/vrep_quad.yaml" />

  <!-- static_transform_publisher                                                x y z qx qy qz qw frame_id child_frame_id period_in_ms -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_broadcaster" args="0 0 0 0 0 0 base_link stereo"/>


  <!-- Nodelet Manager -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager" output="screen" clear_params="true"/>

  <!-- SPTAM Nodelet -->
  <node pkg="nodelet" type="nodelet" name="sptam" args="load sptam/sptam_nodelet nodelet_manager" output="screen" clear_params="true" >

   <param name="use_prediction" value="false"/>
   <param name="prediction_frame" value="odom_combined"/>
   <param name="camera_frame" value="stereo"/>  <!-- set left camera frame -->

   <!-- Remap topics  -->
   <remap from="/stereo/left/image_rect"  to="/stereo/left/image_rect_color"/>
   <remap from="/stereo/right/image_rect"  to="/stereo/right/image_rect_color"/>

   <!-- Remap Odometry message -->
   <remap from="robot/pose"  to="odom"/>

  </node>


</launch>
